#Initial git ignore...
c_cpp_properties.json


##Python
.venv/

##3d models (may need to clean up later)
*.obj
*.stl
*.vl32 #cartesian voxel data


## Allow 3D models in the hardware folder for mountings/board
!Hardware/**/*.stl 
!Hardware/**/*.obj 

#Don't include any executables outside of github releases
*.exe
Embedded/holo_v1/.vscode/c_cpp_properties.json
/Embedded/holo_v1/.vscode

*/.vscode/
server/**.gif
